<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head> 
        
        <title>OS Project</title> 
        
        <link rel="stylesheet" href="resources/css/bootstrap.min.css"></link> 
        <script src="resources/js/jquery-3.3.1.min.js"></script> 
        <script href="resources/js/bootstrap.min.js"></script> 
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"></link>
        
        
        <link rel="stylesheet" href="resources/css/CustomCSS.css"></link> 
        <link rel="stylesheet" href="resources/css/font-awesome.min.css"></link> 
        
    </h:head> 
    
    
    
    <h:body> 
       
        
        <!--Logo--> 
        <div class="container"> 
            <div class="row"> 
                <div class="col-lg-6 col-md-6 col-xs-6"> 
                    <img class="img img-responsive" src="Image/logo.png"/> 
                </div> 
            </div> 
        </div> 


        <!--Navbar--> 
        <nav class="navbar"> 
            <div class="navsection container-fluid"> 
                <div class="container"> 
                    <ul class="nav navbar-nav"> 
                        <li class="active"><a class="navtext" href="index.xhtml">Home</a></li> 
                        <li class="navli"><a class="navtext" href="aboutus.xhtml">About Us</a></li> 
                        <li class="navli"><a class="navtext" href="mission.xhtml">Our Mission</a></li> 
                        <li class="navli"><a class="navtext" href="display.xhtml">Product</a></li> 
                        <li class="navli"><a class="navtext" href="adminpanel.xhtml">Admin Panel</a></li> 
                    </ul> 
                </div> 
            </div> 
        </nav> 


        
        
        
        
        <section> 
            
            <h1 class="info col-lg-offset-5">Our Information</h1> 
            
            <div class="container-fluid"> 
                <div class="container"> 
                    <div class="member row"> 
                        <div class="col-sm-3"> 
                            <div class="imageBox"> 
                                <img class="img-responsive img-circle img-thumbnail" src="Image/me.jpg"/>
                                <h3> Md Rijyan Hossain </h3> 
                                <b class="col-lg-offset-3">ID = 152002007</b> 
                                <ul>
                                    <li> <a href="https://www.facebook.com/profile.php?id=100009568695942"> 
                                         <i class="fa fa-facebook"></i> </a> </li> 
                                         
                                    
                                    <li> <a href="#"> 
                                         <i class="fa fa-google"></i> 
                                         </a> </li> 
                                </ul>
                            </div> 
                        </div> 
                        
                        <div class="col-sm-3"> 
                            <div class="imageBox"> 
                                <img class="img-responsive img-circle img-thumbnail" src="Image/nafis.png"/>
                                <h3 class="skcolor"> Sk Nafis Istiak </h3> 
                                <b class="col-lg-offset-3">ID = 152002024</b> 
                                <ul>
                                    <li> <a href="https://www.facebook.com/profile.php?id=100008431961442"> 
                                         <i class="fa fa-facebook"></i> </a> </li> 
                                         
                                    <li> <a href="#"> <i class="fa fa-google"></i> </a> </li> 
                                </ul>
                            </div> 
                        </div> 
                        
                        <div class="col-sm-3"> 
                            <div class="imageBox"> 
                                <img class="img-responsive img-circle img-thumbnail" src="Image/nafis.png"/>
                                <h3 class="skcolor"> Mst. Shithi Khatun </h3> 
                                <b class="col-lg-offset-3">ID = 151002033</b> 
                                <ul>
                                    <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li> 
                                         
                                    <li> <a href="#"> <i class="fa fa-google"></i> </a> </li> 
                                </ul> 
                            </div> 
                        </div> 
                        
                        <div class="col-sm-3"> 
                            <div class="imageBox"> 
                                <img class="img-responsive img-circle img-thumbnail" src="Image/nafis.png"/>
                                <h3 class="skcolor"> Mst. Sanjida Khatun </h3> 
                                <b class="col-lg-offset-3">ID = 151002036</b> 
                                <ul>
                                    <li> <a href="https://www.facebook.com/profile.php?id=100012712157988"> 
                                         <i class="fa fa-facebook"></i> </a> </li> 
                                         
                                    <li> <a href="#"> <i class="fa fa-google"></i> </a> </li> 
                                </ul>
                            </div> 
                        </div> 
                    </div> 
                </div> 
            </div> 
        </section> 
        
        
        
        
        <br/><br/><br/>
        
        
        <div class="container sndfotr"> 
            <div class="row jumbotron" style="background: #010114;"> 
                <div class="leftjumb col-lg-offset-2 col-lg-6"> 
                    <h3 style="color: whitesmoke;"><h:outputLabel value="Address"/></h3> 
                    <address style="color: whitesmoke;"> 
                        #Road-10, #House-2, #Block-H, Mirpur-2 <br/> Dhaka-Bangladesh <br/> 
                        <b>Cell:</b> 01996813160, 01674035897 <br/> 
                        <p style="font-size: 15px; color: #368132;"><b style="color: white;">Email:</b> rijyan.cse.152@gmail.com</p> <br/> 
                    </address> 
                </div> 

                <div class="rightjumb"> 
                    <h3 style="color: whitesmoke;"><h:outputLabel value="Quick Contact"/></h3> 
                    <ul> 
                        <li><a href="https://www.facebook.com/profile.php?id=100009568695942"> 
                            <i class="fa fa-facebook"></i> </a> </li> 
                             
                        <li> <a href="#"> <i class="fa fa-google"></i> </a> </li> 
                    </ul> 
                </div> 
            </div> 
        </div> 
        
        <div class="container footer well-sm" style="padding-top: 25px; text-align: center; top: 20px; background: #0B0B21;">
            <p style="color: white;">Copyright &copy; 2018 <b style="color: #368132;">Dark Army</b> || All rights reserved.</p>
        </div> 
        
        
        
        
    </h:body> 
</html> 




