<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"> 
    
    
    <h:head> 
        <title>ProgGyan ONLINE</title>

        <link rel="stylesheet" href="resources/css/CustomCSS.css"></link> 
        <link rel="stylesheet" href="resources/css/bootstrap.min.css"></link> 
    </h:head> 
    
    
    
    
    <h:body> 
        
        <div class="container"> 
            <div class="row"> 
                <div class="col-lg-6 col-md-6 col-xs-6"> 
                    <img class="img img-responsive" src="Image/logo.png"/> 
                </div> 

            </div> 
        </div> 
        
        
        <nav class="navbar"> 
            <div class="navsection container-fluid"> 
                <div class="container"> 
                    <ul class="nav navbar-nav"> 
                        <li class="active"><a class="navtext" href="index.xhtml">Home</a></li> 
                        <li class="navli"><a class="navtext" href="aboutus.xhtml">About Us</a></li> 
                        <li class="navli"><a class="navtext" href="mission.xhtml">Our Mission</a></li> 
                        <li class="navli"><a class="navtext" href="display.xhtml">Product</a></li> 
                        <li class="navli"><a class="navtext" href="adminpanel.xhtml">Admin Panel</a></li> 
                    </ul> 
                </div> 
            </div> 
        </nav> 

        
        
        
        <div class="container" style="background-color: #0083B9"> 
        
            <f:view> 
                <h:form id="form"> 

                    <p:panel header="Cart"> 
                        <h:outputText value="#{obj5.cartsize} #{obj5.item}" id="cart"/> <br/> <br/> 
                        <h:commandButton class="btn btn-primary" value="Show My Cart" action="viewcart.xhtml"/> 
                    </p:panel> 




                    <p:dataGrid var="product" value="#{obj4.allProduct}" columns="3" rows="9" paginator="true" id="p" 
                                paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" rowsPerPageTemplate="6,12,16">

                        <f:facet name="header"> 
                            <h:outputLabel value="All Products"/> 
                        </f:facet> 


                        <p:panel header="#{product.proName}">
                            <h:panelGrid columns="1">
                                <h:graphicImage name="#{product.proImgUrl}" library="images" width="180" height="200"/>
                                <h:outputText  value="#{product.proPrice} TK/-"/> 

                                <h:outputLabel value="Quantity"/> 
                                <h:inputText binding="#{input1}"/>

                                <p:commandButton class="btn btn-info" action="#{obj5.processCart(input1.value)}" value="Add to Cart" update=":form:cart">
                                    <f:setPropertyActionListener target="#{obj5.productid}" value="#{product.proId}"/>
                                    <f:setPropertyActionListener target="#{obj5.productname}" value="#{product.proName}"/>
                                    <f:setPropertyActionListener target="#{obj5.price}" value="#{product.proPrice}"/>
                                </p:commandButton> 
                            </h:panelGrid> 



                            <p:commandLink update=":form:pro" oncomplete="PF('proDetails').show()" title="View Details">
                                <!-- <h:outputText styleClass="ui-icon ui-icon-search"/> --> 
                                <h:outputText class="btn btn-info" value="Details"/> 
                                <f:setPropertyActionListener value="#{product}" target="#{obj4.selectedProduct}"/>
                            </p:commandLink> 
                        </p:panel> 
                    </p:dataGrid> 






                    <p:dialog header="Product Info" widgetVar="proDetails" modal="true" 
                              showEffect="fade" hideEffect="fade" rendererType="false"> 

                        <p:outputPanel id="pro"> 
                            <p:panelGrid columns="2" styleClass="ui-responsive"> 
                                <f:facet name="header"> 
                                    <h:graphicImage name="#{obj4.selectedProduct.proImgUrl}" library="images" width="180" height="215"/> 
                                </f:facet> 

                                <h:outputText value="Product Name"/> 
                                <h:outputText value="#{obj4.selectedProduct.proName}"/> 

                                <h:outputText value="Product Price"/> 
                                <h:outputText value="#{obj4.selectedProduct.proPrice} BDT"/> 

                                <h:outputText value="Description"/> 
                                <h:outputText value="#{obj4.selectedProduct.proDesc}"/> 
                            </p:panelGrid> 
                        </p:outputPanel> 
                    </p:dialog> 
                </h:form> 
            </f:view> 
        </div> 
    </h:body> 
</html> 











